/* variables */
/* initial setup */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* screen reader only class */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  color: white;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
  text-align: center;
  font-weight: 500;
  background-color: #ecf2f8;
  color: white;
  min-width: 14rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.testimonials {
  display: flex;
  flex-direction: column;
  gap: 2em;
  min-height: calc(100vh - 6em);
  max-width: 45rem;
  margin: 3em 2em;
}

.testimonial {
  text-align: left;
  border-radius: 0.75em;
  padding: 2em;
  box-shadow: 0 0 2em 0.25em #cfcfcf;
  overflow: hidden;
}
.testimonial--violet {
  background: url("../images/bg-pattern-quotation.svg") no-repeat right top #7541c8;
  background-position-x: 90%;
}
.testimonial--gray-blue {
  background: #48556a;
}
.testimonial--white {
  background: white;
}
.testimonial--black-blue {
  background: #19212e;
}
.testimonial__header {
  display: flex;
  align-items: center;
  gap: 1em;
}
.testimonial__user-img {
  width: 3em;
  height: auto;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.25);
  display: block;
}
.testimonial__user-img--decor {
  border: 2px solid #7541c8;
}
.testimonial__user-name {
  display: inline-block;
  font-weight: 600;
  margin-bottom: 0.25em;
}
.testimonial__user-name--dark {
  color: #48556a;
}
.testimonial__user-title {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5);
}
.testimonial__user-title--dark {
  color: rgba(72, 85, 106, 0.5);
}
.testimonial__title {
  margin-top: 0.5em;
  font-size: 1.295rem;
  line-height: 120%;
  font-weight: 600;
}
.testimonial__title--dark {
  color: #48556a;
}
.testimonial__content {
  color: rgba(255, 255, 255, 0.7);
  line-height: 140%;
  font-size: 0.89rem;
  margin-top: 1em;
  font-weight: 500;
}
.testimonial__content--dark {
  color: #48556a;
}

/* footer */
.attribution {
  font-size: 0.75rem;
  text-align: center;
  margin-top: 1rem;
  color: #19212e;
  font-weight: 500;
  margin-bottom: 2em;
}
.attribution__section {
  margin-top: 1em;
}
.attribution__link {
  color: inherit;
  text-decoration: none;
  font-weight: 600;
}
.attribution__link:hover, .attribution__link:focus-visible {
  outline: 3px dotted #19212e !important;
  outline-offset: 0.25rem;
}
.attribution__link:focus:not(:focus-visible) {
  outline: transparent;
}

@keyframes scroll-right {
  from {
    left: 500%;
  }
  to {
    left: 0;
  }
}
@keyframes scroll-left {
  from {
    right: 500%;
  }
  to {
    right: 0;
  }
}
@keyframes scroll-down {
  from {
    top: -50vh;
  }
  to {
    top: 0;
  }
}
@media (prefers-reduced-motion: reduce) {
  .testimonial__header, .testimonial__title, .testimonial__content {
    animation: none;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .testimonial__header, .testimonial__title, .testimonial__content {
    position: relative;
  }
  .testimonial__header {
    animation: scroll-down 0.75s;
  }
  .testimonial__title {
    animation: scroll-right 0.75s;
  }
  .testimonial__content {
    animation: scroll-left 0.75s;
  }
}
@media screen and (min-width: 48rem) {
  .testimonials {
    display: grid;
    gap: 1.5em;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, calc(50% - 0.5em));
    max-width: 55rem;
  }

  .testimonial--violet {
    grid-column: 1/1;
    grid-row: 1/2;
  }
  .testimonial--gray-blue {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .testimonial--white {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .testimonial--black-blue {
    grid-column: 2/3;
    grid-row: 2/4;
  }
  .testimonial--huge {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}
@media screen and (min-width: 64rem) {
  .container {
    min-height: 100vh;
    display: grid;
    place-items: center;
  }

  .testimonials {
    grid-template-columns: repeat(4, calc(25% - 1.85em));
    grid-template-rows: repeat(2, calc(50% - 1em));
    max-width: calc(64rem + 5.5rem + 2em);
    min-height: 32rem;
    max-height: 50rem;
    column-gap: 2.5em;
    row-gap: 2em;
  }

  .testimonial {
    padding: 2.25em;
  }
  .testimonial--violet {
    grid-row: 1/2;
    grid-column: 1/3;
    background-position-x: 80%;
  }
  .testimonial--gray-blue {
    grid-row: 1/2;
    grid-column: 3/4;
  }
  .testimonial--white {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .testimonial--black-blue {
    grid-row: 2/3;
    grid-column: 2/4;
  }
  .testimonial--huge {
    grid-row: 1/3;
    grid-column: 4/5;
  }
  .testimonial__title {
    margin-top: 1em;
  }
  .testimonial__content {
    margin-top: 1.5em;
  }
}

/*# sourceMappingURL=style.css.map */
